@import url("reset.css");
@import url("font.css");
.wrapper {
    min-height: 100%;
    overflow: clip;
    position: relative;
    /* border: 1px solid transparent; */
}
.head-section {
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 1.3;
    background-image: url(../img/header1.webp);
    background-position: center;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 2;
}
.head-section__button-practice {
    left: 1000px;
    top: 5px;
    height: 50px;
    background-color: #d7e058;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #494545;
    line-height: 2;
}
.head-section__button-practice:active {
    left: 1000px;
    top: 10px;
    height: 50px;
    background-color: #d7e058;
    border-radius: 5px;
    box-shadow: 0px 0px 0px #494545;
}
main {
    background: url(../img/old-notebook-paper.webp);
    min-height: 660px;
    background-repeat: repeat;
    padding-bottom: 50px;
    overflow: hidden;
    /* padding-top: calc(25px * 1.3 * 2); */
}
.block-footer {
    position: relative;
    background: url(../img/Footer.webp) 0 0 repeat-x;
    background-position: top;
}
.link__top {
    display: inline;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    background-color: rgb(129, 129, 233);
    border-radius: 5px;
    border: 1px solid #000;
    
}
.block-footer__to-top {
    text-align: center;

}
.link__top:hover {
    color: brown;
    text-shadow: 2px 3px 4px;
    text-decoration: underline;
}
.link__top:focus {
    color: blueviolet;
    font-size: 20px;
    text-shadow: none;
    line-height: 1.4;
}
.link__top:visited {
    color: rgb(42, 42, 110);
}
.text__tel {
    font-size: 20px;
    color: rgb(112, 65, 83);
    line-height: 1.4;
    text-shadow: 2px 2px 5px #fff;
}
.text__tel:hover {
    font-size: 20px;
    color: rgb(4, 98, 1);
    line-height: 1.4;
    text-shadow: 2px 3px 4px;
    text-decoration: underline;
}
.text__tel:focus {
    color: rgb(229, 121, 21);
    font-size: 20px;
    text-shadow: none;
    outline: 1px solid red;
}
.text__tel:visited {
    color: rgb(42, 42, 110);
}
.block-footer__text {
    font-size: 20px;
    text-shadow: 2px 2px 5px #fff;
}
                                            /* малюємо фон */
.sky {
    width: 1920px;
    height: 900px;
    background-color: #4192e9;
}
.hill {
    left: -700px;
    top: 200px;
    width: 2000px;
    height: 2000px;
    border-radius: 1000px 1000px 0 0;
    background-color: green;
    border: 1px solid #000;
}
.hill--right {
    left: 100px;
    top: 100px;
}
                                            /* дерева */
.hill__tree {
    left: 900px;
}
.spruce--left {
    left: 600px;
}
.spruce--left-top {
    left: 150px;
    top: 200px;
}
.spruce__tree-trunk {
    left: 44px;
    top: 10px;
    width: 10px;
    height: 150px;
    background-color: rgb(101, 73, 0);
}
.cpruce__triangle-up {
    left: 20px;
    width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid rgb(1, 88, 13);
}
.cpruce__triangle-center {
    left: 10px;
    top: 15px;
    width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 80px solid rgb(1, 88, 13);
}
.cpruce__triangle-bottom {
    top: 40px;
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid rgb(1, 88, 13);
}

                                            /* малюємо дорогу */
.road {
    width: 100%;
    top: 460px;
    height: 200px;
    background-color: gray;
}
.road__markings {
    top: 100px;
    width: 200px;
    height: 10px;
    background-color: #fff;
}
.road__markings--right400 {
    left: 400px;
}
.road__markings--right800 {
    left: 800px;
}
.road__markings--right1200 {
    left: 1200px;
}
                                            /* малюэмо машину */
.car {
    background-color: #ffda07;
}

.car__body {
    top: 400px;
    width: 800px;
    height: 150px;
    background: linear-gradient(to bottom, rgba(153,222,255,1) 0%,rgba(18,76,249,1) 22%,rgb(25, 28, 130) 78%);
    left: 200px;
    border-radius: 5px 50px 50px 10px;
    z-index: 1;
}
.car__roof {
    top: 300px;
    left: 430px;
    width: 400px;
    height: 150px;
    background: linear-gradient(to bottom, rgb(99, 203, 251) 0%,rgba(18,76,249,1) 10%,rgba(30,87,153,1) 100%,rgba(30,87,153,1) 100%);
    border-radius: 10px 300px 0 0;
}
.car__front-window {
    top: 310px;
    left: 445px;
    width: 375px;
    height: 150px;
    background-color: rgb(126, 210, 231);
    border-radius: 0 300px 0 0;

}
.car__vertical-rack {
    top: 305px;
    left: 560px;
    width: 30px;
    height: 170px;
    background: linear-gradient(to bottom, rgb(99, 203, 251) 0%,rgba(18,76,249,1) 10%,rgba(30,87,153,1) 100%,rgba(30,87,153,1) 100%);
}
.car__contur-front-dor {
    top: 305px;
    left: 575px;
    width: 250px;
    height: 230px;
    border: 1px solid #000;
    border-radius: 0 150px 0 0;
    z-index: 2;
}
.car__contur-rear-dor {
    top: 305px;
    left: 437px;
    width: 140px;
    height: 230px;
    border: 1px solid #000;
    z-index: 2;
    border-radius: 5px 0 0 0;
}
.car__handle-front, .car__handle-rear {
    top: 430px;
    left: 445px;
    width: 15px;
    height: 3px;
    background-color: #000;
    z-index: 3;
}
.car__handle-rear {
    left: 585px;
}
.car__front-bumper, .car__rear-bumper {
    top: 480px;
    left: 975px;
    width: 50px;
    height: 50px;
    background-color: rgb(214, 213, 213);
    z-index: 3;
    border-radius: 5px;
    border: 1px solid #000;
}
.car__rear-bumper {
    left: 175px;
}
.car__front-light {
    top: 430px;
    left: 960px;
    width: 40px;
    height: 20px;
    background-color: #fff;
    z-index: 3;
    border: 1px solid #000;
    border-radius: 0 15px 0 0 ;
}
.car__turn-light {
    top: 431px;
    left: 960px;
    width: 10px;
    height: 18px;
    background-color: #ffda07;
    z-index: 3;
}
.car__rear-light {
    top: 410px;
    left: 200px;
    width: 20px;
    height: 50px;
    background-color: #d60202;
    z-index: 3;
    border: 1px solid #000;
    border-radius: 0 15px 0 0 ;
}
.car__turn-light--rear {
    left: 200px;
}
.car__arc {
    top: 480px;
    left: 830px;
    width: 140px;
    height: 70px;
    background-color: rgb(63, 63, 63);
    z-index: 3;
    border-radius: 70px 70px 0 0 ;
    border: 1px solid #000;
}
.car__arc--rear {
    left: 270px;
}
.car__whel {
    top: 495px;
    left: 833px;
    z-index: 3;
    width: 135px;
    height: 135px;
    border-radius: 67.5px;
    background-color:  #000000;
    border: 5px dashed #000;
    background-clip: content-box;
}
.car__whel::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
    border: 5px dotted #000;
    background-clip: border-box;
}
.whel__center {
    position: absolute;
    top: 42.7px;
    left: 42.7px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 4;
    border-radius: 50%;
}
.whel--rear {
    left: 273px;
}
.car__front-bumper, .car__rear-bumper, .car__front-light,
.car__rear-light, .car__body, .car__roof, .car__front-window, .car__vertical-rack,
.car__contur-front-dor, .car__contur-rear-dor, .car__handle-front, .car__handle-rear, .car__turn-light, .car__arc, .car__whel, .whel__hub, .whel__center, .hill__tree, .spruce__tree-trunk, .cpruce__triangle-up, .cpruce__triangle-center, .cpruce__triangle-bottom, .road, .car, .sky, .hill,
.road__markings, .head-section, .head-section__button-practice {
    position: absolute;
}
                                           /* практика по уроку */
.head-section-practice {
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 1.3;
    background-image: url(../img/header1.webp);
    background-position: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}
[class*="experiment"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    text-align: 1.5;
    margin-top: calc(2 * calc(25px * 1.3) + 10px);
}
.practice1__father {
    position: relative;
    left: 40%;
    top: 30px;
    width: 300px;
    height: 300px;
    background-color: #494545;
    border-radius: 10px;
}
.practice1__son {
    position: absolute;
    background-color: #4192e9;
    width: 100%;
    /* height: 100%; */
    border-radius: 20px;
    /* transform: translate(10%, 40%); */
    translate: 10% 10%;
    padding: 10px;
}
.position-dif {
    translate: 150px 40px;
    max-width: 200px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #d7e058;
    padding: 10px;
}
.practice2 {
    position: relative;
    margin-top: 100px;
}
.practice2__block1 {
    position: relative;
    left: 200px;
    background-color: cadetblue;
    max-width: 400px;
    padding: 5px;
}
.practice2__position-dif {
    position: relative;
    /* left: 250px;
    top: -20px; */
    /* translate: 250px -20px; */
    translate: 250px;
    margin-top: -20px;
    background-color: rgb(160, 152, 95);
    max-width: 400px;
    padding: 5px;
}
.practice3__block1 {
    position: relative;
    left: 200px;
    background-color: cadetblue;
    max-width: 350px;
    padding: 70px;
    border-radius: 200px;
    scale: 0.8;
}
.practice3__block1:hover {
    scale: 1.2;
}
.practice4__block1 {
    position: relative;
    left: 200px;
    background-color: rgb(95, 160, 101);
    max-width: 200px;
    padding: 10px;
    rotate: 10deg;
}
.practice4__block1:hover {
    rotate: 20deg;
}
.practice5__block1 {
    position: relative;
    left: 200px;
    background-color: rgb(100, 95, 160);
    max-width: 200px;
    padding: 10px;
    rotate: 10deg;
}
.practice5__block1:hover {
    transform: skew(10deg, 25deg);
}
.practice6__block1 {
    position: relative;
    left: 200px;
    background-color: rgb(160, 95, 151);
    max-width: 200px;
    padding: 10px;
}
.practice6__block1:hover {
    transform: translate(10%, 10%) scale(1.2) rotate(20deg) skew(-10deg, 25deg);
}
.practice7__father {
    position: relative;
    left: 200px;
    background-color: rgb(170, 148, 86);
    max-width: 200px;
    padding: 10px;
}
.practice7__block1 {
    position: relative;
    background-color: rgb(160, 95, 151);
    max-width: 200px;
    padding: 10px;
}
.practice7__block1:hover {
    transform-origin: 25% 25%;
    rotate: 30deg;
}
.practice8__father {
    position: relative;
    left: 200px;
    background-color: rgb(117, 170, 86);
    max-width: 200px;
    padding: 10px;
}
.practice8__block1 {
    position: relative;
    background-color: rgb(215, 114, 122);
    max-width: 200px;
    padding: 10px;
}
.practice8__father:hover {
    perspective: 100px;
    perspective-origin: center;
    transform-style: preserve-3d;
    background-color: rgb(117, 170, 86, 0.8);
}
.practice8__father:hover .practice8__block1 {
    transform: rotateY(-45deg);
}