@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-ExtraBold.woff2);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    
}