@import url("reset.css");
@import url("font.css");

body {
    background-color: #F5F5F5;
}
.head-title-pading-20px-all {
    padding: 20px;
    background-color: #6157e9;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-bottom: 30px;
    max-width: 900px;
    margin: 0 auto 30px;
}
.block-pading-left-30px {
    padding-left: 30px;
    background-color: rgb(209, 177, 136);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
}
.block-with {
    padding-right: 30px;
    background-color: rgb(185, 209, 136);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-right: 30px;
    text-align: justify;
    margin-bottom: 30px;
}
.text {
    margin-bottom: 20px;
}

.big-text {
    text-align: center;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 800;
    color: #2f302c;
    font-size: 32px;
    line-height: 40px;
    margin: 0px 0px 72px 0px;
}
.big-baner {
    margin-bottom: 30px;
    max-width: 1920px;
    padding-top: 82px;
}
.baner {
    max-width: 1180px;
    margin: 0 auto;
    font-size: 0;
}
.sub-baner {
    font-size: 0;
    margin: -34px;
}
.block-item {
    display: inline-block;
    width: 33.333%;
    padding: 34px;
}
.image {
    display: block;
    margin: 0 auto 24px;
    width: 60px;
    height: 60px;
}
.items-title {
    text-align: center;
    margin-bottom: 24px;
    color: #2f302c;
    font-size: 16px;
    font-style: normal;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 700;
    height: 20px;
}
.items-text {
    font-family: "Lato", "Arial", sans-serif;
    color: #7e7f7c;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
.link {
    color: blue;
    font-size: 25px;
    text-decoration: underline;
}
.prikol {
        width: 88px;
        height: 31px;
        display: block;
        margin: 0 auto;
}
